DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=nextup.co.ke,www.nextup.co.ke,localhost
POSTGRES_DB=smarttt_db
POSTGRES_USER=smarttt_user
POSTGRES_PASSWORD=choose_a_strong_database_password_here
POSTGRES_HOST=db
POSTGRES_PORT=5432
CORS_ALLOWED_ORIGINS=https://smart-timetable-8f116.web.app
CSRF_TRUSTED_ORIGINS=https://nextup.co.ke,https://www.nextup.co.ke
FRONTEND_RESET_PASSWORD_URL=https://smart-timetable-8f116.web.app/reset-password
DEFAULT_FROM_EMAIL=noreply@nextup.co.ke
