# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Local IDE/editor settings
.vscode/

# OS files
.DS_Store
Thumbs.db
.env
*.env.example
*.sqlite3